@{
    ViewData["Title"] = "Home Page";
}
<link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
<link rel="stylesheet" href="~/css/site.css" />
<link rel="stylesheet" type="text/css" href="maincss" />
@*<div class="picture">*@

    @*<div style="display:inline-block;vertical-align:top;">*@
        @*<p>*@@*<image class='picture'>
            <p style="text-align:center" ;>*@
                <img src="/images/cityboneslogo.jpeg"
                alt="city bones logo" 
                width="300" 
                height="300" />
        @** </div>*@
    @*<div style="display:inline-block;"></div>*@
@*</div>*@



<h5 class="text-center h5flex" style="font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif">

    My shop, City Bones,
    <br />
    is a combination of art, macrame, and jewelry
    <br />with ethically sourced animal bones incorporated.
</h5>
<br />
<br>

<style>
    body {
        background-image: url(images/cbhomepage.jpg);
        background-repeat: no-repeat;
        background-size: cover;
        display: flex;
        flex-direction: column;
    }
    img {
        border-radius: 50%;
       /* display: flex;
        justify-content: center;*/
        display: block;
        margin-left: auto;
        margin-right: auto
       
    }

    .h5flex{
        display: flex;
        justify-content: center;

    }

    /*.picutre{
        display: flex;
        justify-content: center;
    }*/

</style>